<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />
    <meta name="author" content="Jon Callahan" />
    <meta
      name="publish_date"
      property="og:publish_date"
      content="{{page.date}}"
    />

    <title>{{title}} | Jon Callahan</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="../../styles/layout-post.css" />
    <link href="../../styles/prism-okaidia.min.css" rel="stylesheet" />
    <style>
      /* Override the font in the prism theme */
      code[class*="language-"],
      pre[class*="language-"] {
        font-family: var(--font-mono);
      }
    </style>

    <script
      data-goatcounter="https://joncallahan.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </head>
  <body>
    <main>
      <article>
        <h1>{{title}}</h1>
        <p>Published on <time>{{ page.date | date: "%a, %b %d, %Y" }}</time></p>
        {{content}}
      </article>
    </main>
    <footer>
      <article>
        <hr />
        <p>
          <a href="/">Home</a> |
          <a href="/blog">All posts</a>
        </p>
      </article>
    </footer>
  </body>
</html>
