/* Import the minified normalize because this doesn't get compiled by postcss */
@import "open-props/normalize.min.css";

/* jetbrains-mono-latin-600-normal*/
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/jetbrains-mono-latin-600-normal.woff2") format("woff2"),
    url("../fonts/jetbrains-mono-all-600-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --body-text-color: var(--gray-8);
  --body-background-color: var(--gray-2);
  --body-border-color: var(--gray-1);
  --brand: var(--indigo-5);
  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
  --jon-font-mono: var(--font-mono);
  --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --jon-font-serif: var(--font-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text-color: var(--gray-3);
    --body-background-color: var(--gray-8);
    --body-border-color: var(--gray-9);
  }
}

html {
  background-color: var(--body-border-color);
}

body {
  display: grid;
  place-content: center;
  background-color: var(--body-background-color);
  font-family: var(--font-serif);
}

@media screen and (min-width: 900px) and (min-height: 900px) {
  body {
    border-radius: var(--radius-4);
  }
  html {
    padding: 40px;
  }
}

article {
  display: grid;
  gap: var(--size-4);
  max-width: var(--size-content-3);
  padding: var(--size-8) var(--size-4);
}

h1 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-2);
  font-family: var(--font-mono);
}

h2 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-2);
  /* Overwrite the normalize/reset rule of max width 25ch for h2's */
  max-inline-size: var(--size-content-3);
  font-family: var(--font-mono);
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  width: 25%;
  min-width: 120px;
  background-color: var(--body-text-color);
}

p {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-4);
}

h1,
h2,
p,
a,
a:visited,
a:hover {
  color: var(--body-text-color);
}

/* Open props normalize gets rid of the underline, add it back */
a {
  text-decoration: underline;
  text-decoration-color: var(--body-text-color);
}
