/* Import the minified normalize because this doesn't get compiled by postcss */
@import "open-props/normalize.min.css";

/* jetbrains-mono-latin-600-normal*/
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/jetbrains-mono-latin-600-normal.woff2") format("woff2"),
    url("../fonts/jetbrains-mono-latin-600-normal.woff") format("woff");
}
/* jetbrains-mono-latin-400-normal*/
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/jetbrains-mono-latin-400-normal.woff2") format("woff2"),
    url("../fonts/jetbrains-mono-latin-400-normal.woff") format("woff");
}

:root {
  /* FYI if you use these variables in another file, they will be overwritten to the original value.
    This is because the postcss jit plugin will inline any variables that match the ones provided by openprops.
  */
  --body-text-color: var(--gray-8);
  --body-background-color: var(--gray-2);
  --body-border-color: var(--gray-1);
  --brand: var(--indigo-5);
  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
  --font-mono-safe: var(--font-mono);
  --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text-color: var(--gray-3);
    --body-background-color: var(--gray-8);
    --body-border-color: var(--gray-9);
  }
}

html {
  background-color: var(--body-border-color);
}

body {
  display: grid;
  place-content: center;
  background-color: var(--body-background-color);
  font-family: var(--font-serif);
}

@media screen and (min-width: 900px) and (min-height: 900px) {
  body {
    border-radius: var(--radius-4);
  }
  html {
    padding: 40px;
  }
}

article {
  display: grid;
  gap: var(--size-4);
  max-width: var(--size-content-3);
  padding: var(--size-8) var(--size-4);
}

h1 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-2);
  font-family: var(--font-mono);
}

h2 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-2);
  /* Overwrite the normalize/reset rule of max width 25ch for h2's */
  max-inline-size: var(--size-content-3);
  font-family: var(--font-mono);
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  width: 25%;
  min-width: 120px;
  background-color: var(--body-text-color);
}

p {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-4);
}

h1,
h2,
p,
a,
a:visited,
a:hover {
  color: var(--body-text-color);
}

/* Open props normalize gets rid of the underline, add it back */
a {
  text-decoration: underline;
  text-decoration-color: var(--body-text-color);
}

:where(:not(pre) > code, kbd) {
  white-space: pre-wrap;
  word-break: break-word;
}
