img {
  border-radius: 50%;
  box-shadow: var(--shadow-3);
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: var(--size-4);
}

.links {
  display: flex;
  gap: var(--size-4);
  margin-top: var(--size-4);
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--body-text-color);
  transition: fill 0.2s ease;
}

a:hover .icon {
  fill: var(--brand);
}